:root {
	--transition: cubic-bezier(0.4, 0.0, 0.2, 1.0);
	--blue: rgb(0,100,200);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: url('./samus-bg.jpg') black;
	background: black;
	background-size: 800px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	color: #fff;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Titillium Web', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1.125rem;
	padding: 0 0 8em;
}

@media (min-width: 36rem) {
	body {
		padding: 2em 2em 8em;
	}
}

*:focus, input[type="checkbox"]:focus + label, input[type="radio"]:focus + label {
	outline: 1px solid var(--blue);
	outline-offset: 3px;
}

a {
	color: var(--blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}

li {
	margin: 0 0 1.25rem;
	line-height: 1.4;
	overflow: visible;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

.location {
	display: block;
	font-size: .85em;
	font-style: italic;
	margin: .25rem 0 0 1.8rem;
	color: #6aa3ae;
	max-height: 4rem;
	width: 100%;
	overflow: hidden;
}

li, .location {
	min-height: 1rem;
	max-height: 6rem;
	transition: all .4s var(--transition);
}

.collapsed {
	max-height: 0;
	min-height: 0;
	margin-top: 0;
	margin-bottom: 0;
	pointer-events: none;
	opacity: 0;
}

.visually-hidden {
	position: absolute;
	left: -100vw;
	width: 1px;
	height: 1px;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
}

button {
	padding: 0.5em 1em;
	color: #fff;
	background: #c62829;
	border: none;
	border-radius: 5px;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

hr {
	border-color: white;
	grid-column: 1 / -1;
	width: 100%;
}

label {
	width: 100%;
	position: relative;
}

input[type="checkbox"], input[type="radio"] {
	position: absolute;
	left: -100vw;
	height: 1px;
	width: 1px;
	opacity: 0;
}

main input[type="checkbox"] + label:before {
	transition: all .2s var(--transition);
	top: .9em;
	opacity: 0;
	display: inline-flex;
	content: '';
	margin-left: .5em;
	width: .4em;
	height: .8em;
	position: absolute;
	z-index: 2;
	transform: rotate(45deg);
	border-bottom: 3px solid;
	border-right: 3px solid;
	left: -.1em;
}

main input[type="checkbox"]:checked + label:before {
	top: .6em;
	opacity: 1;
}

input[type="radio"] + label:before {
	content: '⚪';
	margin-right: .25em;
	font-size: 1.25em;
}

input[type="radio"]:checked + label:before {
	content: '🔵';
}

h3 {
	font-size: 1.6rem;
	padding-bottom: 1rem;
	margin-bottom: 2rem;
}

.category {
	border: none;
	border-radius: .5em;
	padding: 2rem;
	background: black;
	margin-top: 4rem;
	position: relative;
}

ol.category {
	padding-left: 3rem;
	grid-column: 1 / -1;
}

.category h2 {
	font-size: 1.4rem;
	background: black;
	position: relative;
	line-height: 1;
	top: calc(-.7rem + -.5em + -1.1rem);
	box-sizing: border-box;
	text-align: center;
	display: inline-block;
	padding: .4em 0;
	margin: 0 auto;
	text-transform: uppercase;
}

.category h2 .icon {
	width: 1.25em!important;
	vertical-align: middle;
	margin-right: .25em;
}

.category ul {
	margin-top: -1rem;
}

.category label {
	font-weight: normal;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

li .icon {
	transition: filter .2s;
	width: 1.5rem;
	margin-right: .5em;
	filter: saturate(0) opacity(.4);
	display: inline-block;
}

input:checked + label .icon {
	filter: saturate(1) opacity(1);
}

@media (min-width: 36rem) {
	.category {
		padding: 1em;
		border: 4px solid #6aa3ae;
	}

	.category h2 {
		padding: .4em .8rem;
	}
}

@media (min-width: 70rem) {
	ol.category {
		column-count: 2;
		column-gap: 4rem;
	}
}

@media (min-width: 110rem) {
	ol.category {
		column-count: 3;
	}
}
